<div class="panel panel-default" data-conversation-id="<%= conversation.id %>">
  <div class="panel-heading">
    <b>Conversation</b>
  </div>

  <div class="panel-body">
    <div id="loadmore">
      <%= render 'conversations/loadmore', messages: messages %>  
    </div>
    
    <div class="messages-list">
      <ul>
        <%= render 'conversations/conversation_content', messages: messages.reverse, user: user %>
      </ul>
    </div>
    <form class="new_message">
      <input name="conversation_id" type="hidden" value="<%= conversation.id %>">
      <input name="user_id" type="hidden" value="<%= user.id %>">
      <textarea name="content" class="form-control"></textarea>
      <br/>
      <input type="submit" class="btn btn-success" value="Send">
    </form>
  </div>
</div>

